<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="align-items: center; justify-content: center; margin: auto;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label><br>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label><br>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label><br>
      <ion-input type="tel" [(ngModel)]="telefono"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label><br><br>
      <ion-datetime [(ngModel)]="fechaNacimiento"></ion-datetime>
    </ion-item><br><br>

    <ion-button expand="full" (click)="guardarPerfil()">Guardar Perfil</ion-button>
    <ion-button expand="full" color="secondary" (click)="limpiarFormulario()">Limpiar Formulario</ion-button>
  </ion-list>
</ion-content>
