<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos" href="/tabs/photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes" href="/tabs/notes">
      <ion-icon name="pencil"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="flags" href="/tabs/flags">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Banderas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>